<html>
  <head>
    <link rel="stylesheet" href="./css/pico.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>JWT Builder</title>
    <meta name="description" content="Building and signing JWTs" />
  </head>
</html>
<body>
  <!-- Header -->
  <header class="container">
    <hgroup>
      <h1>JWT Builder</h1>
      <p>Building and signing JWTs for development</p>
    </hgroup>
    <nav>
      <ul>
        <li><a href="#" data-theme-switcher="auto">Auto</a></li>
        <li><a href="#" data-theme-switcher="light">Light</a></li>
        <li><a href="#" data-theme-switcher="dark">Dark</a></li>
      </ul>
    </nav>
  </header>
  <main class="container" id="app">
    <section id="Claims">
      <h2>Claims</h2>
      <p>Enter the claims you want to include in the JWT</p>
      <form>
        <div class="grid">
          <input v-model="sub" type="text" name="sub" placeholder="sub" />
          <input
            v-model="givenName"
            type="text"
            name="givenName"
            placeholder="given name"
          />
          <input
            v-model="familyName"
            type="text"
            name="familyName"
            placeholder="family name"
          />
          <input
            v-model="email"
            type="email"
            name="email"
            placeholder="foo@bar.com"
          />
        </div>
        <div class="autogrow">
          <textarea
            id="content"
            v-model="additional"
            name="additional"
            placeholder="Additional claims in JSON format"
            onInput="this.parentNode.setAttribute('data-replicated-value', this.value)"
            onload="this.parentNode.setAttribute('data-replicated-value', this.value)"
          ></textarea>
        </div>
        <article v-if="additionalErrorMessage !== ''">
          {{ additionalErrorMessage }}
        </article>
      </form>
      <hr />
      <!-- <details> -->
      <!-- <summary role="button" class="outline secondary">Show JWT code</summary> -->
      <h2>JWT</h2>
      <nav v-if="jwt !== ''">
        <ul>
          <li>
            <a href="#" @click="copyWithBearer">{{ copyWithBearerText }}</a>
          </li>
          <li>
            <a href="#" @click="copyWithoutBearer"
              >{{ copyWithoutBearerText }}</a
            >
          </li>
        </ul>
      </nav>
      <p style="font-family: monospace">
        <small v-if="jwt === ''">enter claims to generate JWT</small>
        <small> {{ jwt }} </small>
      </p>
      <!-- </details> -->
    </section>
    <hr />
    <section id="Presets">
      <!-- <details> -->
      <h2>Presets</h2>
      <!-- <summary role="button" class="outline secondary">Presets</summary> -->
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="preset in presets" :key="preset.name">
            <td>{{ preset.name }}</td>
            <td>
              <nav>
                <ul>
                  <li><a href="#" @click="loadPreset(preset)">Load</a></li>
                  <li>
                    <a href="#" @click="updatePreset(preset)">Update</a>
                  </li>
                  <li>
                    <a href="#" @click="deletePreset(preset)">Delete</a>
                  </li>
                </ul>
              </nav>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <nav>
                <ul>
                  <li>
                    <a href="#" @click="openNewPresetDialog"
                      >Save as new preset</a
                    >
                  </li>
                </ul>
              </nav>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- </details> -->
    </section>
    <dialog open v-if="newPresetDialog">
      <article>
        <h2>Save preset</h2>
        <p>
          The current settings will be saved as preset in local storage. Please
          enter a preset name:
        </p>
        <form>
          <input
            v-model="newPresetName"
            type="text"
            name="presetName"
            placeholder="Preset name"
          />
        </form>
        <footer>
          <button @click="closeNewPresetDialog" className="secondary">
            Cancel
          </button>
          <button @click="saveNewPreset">Save</button>
        </footer>
      </article>
    </dialog>
  </main>
  <script src="js/minimal-theme-switcher.js"></script>
  <script src="js/modal.js"></script>

  <script type="module">
    import { createApp, ref, watch } from "./js/vue.esm-browser.prod.js";

    export function debounce(fn, wait) {
      let timer;
      return function (...args) {
        if (timer) {
          clearTimeout(timer);
        }
        const context = this;
        timer = setTimeout(() => {
          fn.apply(context, args);
        }, wait);
      };
    }

    createApp({
      setup() {
        const sub = ref("");
        const email = ref("");
        const givenName = ref("");
        const familyName = ref("");
        const additional = ref("");
        const additionalObject = ref({});
        const additionalErrorMessage = ref("");

        const jwt = ref("");

        const change = debounce(generateJwt, 500);
        watch([sub, email, givenName, familyName, additional], change);

        async function generateJwt() {
          if (additional.value !== "") {
            try {
              additionalObject.value = JSON.parse(additional.value);
              additionalErrorMessage.value = "";
            } catch (e) {
              additionalErrorMessage.value = e.message;
              return;
            }
          } else {
            additionalObject.value = {};
            additionalErrorMessage.value = "";
          }

          const data = { ...additionalObject.value };

          if (sub.value !== "") data.sub = sub.value;
          if (email.value !== "") data.email = email.value;
          if (givenName.value !== "") data.given_name = givenName.value;
          if (familyName.value !== "") data.family_name = familyName.value;

          if (Object.keys(data).length === 0) {
            jwt.value = "";
            return;
          }

          const response = await fetch("./sign", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          if (response.status !== 200) {
            console.error("Failed to generate JWT");
            return;
          }
          jwt.value = await response.text();
        }

        const presets = ref(
          JSON.parse(localStorage.getItem("presets") || "{}")
        );
        const newPresetDialog = ref(false);
        const newPresetName = ref("");

        function openNewPresetDialog() {
          newPresetName.value = "";
          newPresetDialog.value = true;
        }
        function closeNewPresetDialog() {
          newPresetDialog.value = false;
        }

        function getObjectFromValues(name) {
          return {
            name,
            sub: sub.value,
            email: email.value,
            givenName: givenName.value,
            familyName: familyName.value,
            additionalObject: additionalObject.value,
          };
        }

        function setValuesFromObject(obj) {
          sub.value = obj.sub;
          email.value = obj.email;
          givenName.value = obj.givenName;
          familyName.value = obj.familyName;
          additionalObject.value = obj.additionalObject;
          if (Object.keys(obj.additionalObject).length !== 0) {
            additional.value = JSON.stringify(obj.additionalObject, null, 2);
          }
        }

        function saveNewPreset() {
          if (newPresetName.value === "") {
            return;
          }
          closeNewPresetDialog();

          presets.value[newPresetName.value] = getObjectFromValues(
            newPresetName.value
          );
          localStorage.setItem("presets", JSON.stringify(presets.value));
        }
        function loadPreset(preset) {
          setValuesFromObject(preset);
        }
        function updatePreset(preset) {
          presets.value[preset.name] = getObjectFromValues(preset.name);
          localStorage.setItem("presets", JSON.stringify(presets.value));
        }
        function deletePreset(preset) {
          delete presets.value[preset.name];
          localStorage.setItem("presets", JSON.stringify(presets.value));
        }

        const copyWithBearerText = ref('Copy with "Bearer"');
        const copyWithoutBearerText = ref('Copy without "Bearer"');
        function displayCopiedText(text) {
          const defaultValue = text.value;
          text.value = "Copied!";
          setTimeout(() => {
            text.value = defaultValue;
          }, 1000);
        }
        function copyWithBearer() {
          navigator.clipboard.writeText(`Bearer ${jwt.value}`);
          displayCopiedText(copyWithBearerText);
        }
        function copyWithoutBearer() {
          navigator.clipboard.writeText(jwt.value);
          displayCopiedText(copyWithoutBearerText);
        }

        return {
          sub,
          email,
          givenName,
          familyName,
          additional,
          additionalErrorMessage,
          jwt,
          change,
          presets,
          newPresetDialog,
          newPresetName,
          openNewPresetDialog,
          closeNewPresetDialog,
          saveNewPreset,
          loadPreset,
          updatePreset,
          deletePreset,
          copyWithBearer,
          copyWithoutBearer,
          copyWithBearerText,
          copyWithoutBearerText,
        };
      },
    }).mount("#app");
  </script>
  <style>
    .autogrow {
      display: grid;
    }

    .autogrow::after {
      content: attr(data-replicated-value) " ";
      white-space: pre-wrap;
      visibility: hidden;
      padding: 30px;
    }

    .autogrow > textarea {
      resize: none;
      font-family: monospace;
    }

    .autogrow > textarea,
    .autogrow::after {
      /* Add textarea styles here so that the textarea and div look the same */
      grid-area: 1 / 1 / 2 / 2;
    }
  </style>
</body>
